<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        // var data = {
        //     name: 'xiang',
        //     age: 20
        // }
        var data = ['aaa','bbb','ccc'];
        
        var proxyData = new Proxy(data, {
            get(target, key, receiver){
               //只处理非原型上的属性
               if(Reflect.ownKeys(target).includes(key)){
                    console.log('get...',key)
                }
                return target[key]
            },
            set(target, key, value, receiver){
                
                //只处理非原型上的属性
                if(Reflect.ownKeys(target).includes(key)){
                    console.log('set...',key)
                }
                var result = Reflect.set(target, key, value, receiver)
                return result
            },
            deleteProperty(target, key){
                console.log('delete done');
                const result = Reflect.deleteProperty(target, 'xixi')
                return result
            }
        })
    </script>
</body>
</html>